<h1>Receptionist Dashboard</h1>

<%= form_with model: Patient.new, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  
  <%= form.label :age %>
  <%= form.number_field :age %>
  
  <%= form.label :address %>
  <%= form.text_area :address %>
  
  <%= form.submit "Register Patient" %>
<% end %>

<h2>All Patients</h2>
<ul>
  <% @patients.each do |patient| %>
    <li>
      <%= patient.name %> (Age: <%= patient.age %>) - <%= link_to 'Edit', edit_patient_path(patient) %> | 
      <%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
